 
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>My Jios</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <ion-content [fullscreen]="true">

    <ion-card *ngFor="let jio of jios" color="light">
      <ion-card-content color="light">
        <ion-item lines="none" color="light" class="p1">
          <ion-label class="titles">
            <ion-card-title class="title">{{jio.header}}</ion-card-title>
            <ion-card-subtitle class="subtitle">{{jio.jio_description}}</ion-card-subtitle>
          </ion-label>
          <div *ngIf ="jio.jioStatus === 'accepted'">
            <ion-badge color="success" slot="end">{{jio.jioStatus}}</ion-badge>
          </div>
          <div *ngIf ="jio.jioStatus === 'pending'">
            <ion-badge color="danger" slot="end">{{jio.jioStatus}}</ion-badge>
          </div>
        </ion-item>
        <ion-item lines="none" color="light" class="p2">
          <ion-label class="p-items">
            <p class="p-item"><strong>Jio by: </strong>{{jio.jioer.username}}</p>
            <p class="p-item"><strong>Jioer Telegram: </strong>{{jio.jioer.telegram}}</p>
            <p class="p-item"><strong></strong>{{jio.location.name}}</p>
            <p class="p-item"><strong></strong>{{jio.location.name}}</p>
            <p class="p-item"><strong>Location: </strong>{{jio.location.address}}</p>
            <p class="p-item"><strong>Date & Time: </strong>{{jio.jio_date_time.formatted}}</p>
            <p class="p-item"><strong>Duration: </strong>{{jio.jio_duration}}</p>
          </ion-label>    

 
          
        </ion-item>
       
      </ion-card-content>
    </ion-card>

  </ion-content>



    <!-- <ion-row class="ion-align-items-center ion-no-padding" >
      <p1>
      Pending Jios
      </p1>
    </ion-row>
    <ion-card class = 'jio' color = 'medium' (click)="nextpage1()">
      <ion-grid>
       <ion-row>
        <ion-col>
          <img src="https://static.vecteezy.com/system/resources/thumbnails/000/599/173/small/coffee.jpg">
        </ion-col>
      <ion-col> 
      <ion-card-content>
        <p>Message</p>
      </ion-card-content>
      </ion-col>
       </ion-row>
       <ion-card-content>
        <p><strong>Address: </strong> {{item.vicinity}}</p>
        <p><strong>Rating: </strong>{{item.rating}}/5</p>
        <p><strong>Price: $</strong>$$</p>
        <p><strong>Work Level: </strong></p>
        <p><span style="color:red; font-weight: bold">Live: </span>Not so busy</p>
      </ion-card-content>
      </ion-grid>
    </ion-card>
    <br>
    <ion-text class = 'ion-text-center'>
      Upcoming Jios
    </ion-text>
  
    <ion-card class = 'jio' color = 'medium' (click)="nextpage()">
      <ion-grid>
       <ion-row>
        <ion-col>
          <img src="https://static.vecteezy.com/system/resources/thumbnails/000/599/173/small/coffee.jpg">
        </ion-col>
      <ion-col> 
      <ion-card-content>
        <p>Message</p>
      </ion-card-content>
      </ion-col>
       </ion-row>
       <ion-card-content>
        <p1><p><strong>Address: </strong> {{item.vicinity}}</p>
          <p><strong>Rating: </strong>{{item.rating}}/5</p>
          <p><strong>Price: $</strong>$$</p>
          <p><strong>Work Level: </strong></p>
          <p><span style="color:red; font-weight: bold">Live: </span>Not so busy</p></p1>
      </ion-card-content>
      </ion-grid>
    </ion-card> -->

  
  
  
    <!-- <ion-card class = 'jio' color = 'medium' (click)="nextpage()" orderBy: orderHeader: isDescOrder" *ngFor = 'let card of jioList'>
        <ion-grid>
         <ion-row>
          <ion-col>
            <img src="{{jioList.picture}}">
          </ion-col>
        <ion-col> 
        <ion-card-content>
          <p>{{jioList.message}}</p>
        </ion-card-content>
        </ion-col>
         </ion-row>
         <ion-card-content>
          <p1>{{jioList.location}} {{jioList.distance}} {{jioList.cost}} {{jioList.crowdesness}}</p1>
        </ion-card-content>
        </ion-grid>
      </ion-card> -->
