 
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        My Jios
      </ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <ion-content [fullscreen]="true">
    <ion-button fill="outline" size="small">
      Filters
    </ion-button>
    <ion-button fill="outline" size="small">
      Sort
    </ion-button>
    <br>
    <br>
    <ion-row class="ion-align-items-center ion-no-padding" >
      <p1>
      Pending Jios
      </p1>
    </ion-row>
    <ion-card class = 'jio' color = 'medium' (click)="nextpage1()">
      <ion-grid>
       <ion-row>
        <ion-col>
          <img src="https://static.vecteezy.com/system/resources/thumbnails/000/599/173/small/coffee.jpg">
        </ion-col>
      <ion-col> 
      <ion-card-content>
        <p>Message</p>
      </ion-card-content>
      </ion-col>
       </ion-row>
       <ion-card-content>
        <p><strong>Address: </strong> {{item.vicinity}}</p>
        <p><strong>Rating: </strong>{{item.rating}}/5</p>
        <p><strong>Price: $</strong>$$</p>
        <p><strong>Work Level: </strong></p>
        <p><span style="color:red; font-weight: bold">Live: </span>Not so busy</p>
      </ion-card-content>
      </ion-grid>
    </ion-card>
    <br>
    <ion-text class = 'ion-text-center'>
      Upcoming Jios
    </ion-text>
  
    <ion-card class = 'jio' color = 'medium' (click)="nextpage()">
      <ion-grid>
       <ion-row>
        <ion-col>
          <img src="https://static.vecteezy.com/system/resources/thumbnails/000/599/173/small/coffee.jpg">
        </ion-col>
      <ion-col> 
      <ion-card-content>
        <p>Message</p>
      </ion-card-content>
      </ion-col>
       </ion-row>
       <ion-card-content>
        <p1><p><strong>Address: </strong> {{item.vicinity}}</p>
          <p><strong>Rating: </strong>{{item.rating}}/5</p>
          <p><strong>Price: $</strong>$$</p>
          <p><strong>Work Level: </strong></p>
          <p><span style="color:red; font-weight: bold">Live: </span>Not so busy</p></p1>
      </ion-card-content>
      </ion-grid>
    </ion-card>

  
  
  
    <!-- <ion-card class = 'jio' color = 'medium' (click)="nextpage()" orderBy: orderHeader: isDescOrder" *ngFor = 'let card of jioList'>
        <ion-grid>
         <ion-row>
          <ion-col>
            <img src="{{jioList.picture}}">
          </ion-col>
        <ion-col> 
        <ion-card-content>
          <p>{{jioList.message}}</p>
        </ion-card-content>
        </ion-col>
         </ion-row>
         <ion-card-content>
          <p1>{{jioList.location}} {{jioList.distance}} {{jioList.cost}} {{jioList.crowdesness}}</p1>
        </ion-card-content>
        </ion-grid>
      </ion-card> -->