<ion-header>
  <ion-toolbar>
    <ion-title>Chat</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      chat 1
      <ion-button routerLink="chat-indiv">
        hello
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      chat 2
    </ion-item>

    <ion-item>
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      chat 3
    </ion-item>

  </ion-list>
</ion-content>
