<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Spot
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar placeholder="Enter radius" [(ngModel)]="radius" (keydown.enter)="fetchLocations()" animated></ion-searchbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of locationData" color="light">
   <ion-card-title>
     {{item.name}}
   </ion-card-title>
   <ion-card-content>
      <h4>
        Rating: {{item.rating}}
      </h4>
      <h4>
        Address: {{item.vicinity}}
      </h4>
   </ion-card-content>
  </ion-card>
</ion-content>

