<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-title>
      Spot
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
      
  <!-- <ion-searchbar placeholder="Find a place to study..." [(ngModel)]="preferredLoc" (keydown.enter)="fetchLocations()" animated></ion-searchbar> -->
  
  <ion-searchbar placeholder="Enter location" [(ngModel)]="preferredLoc" (keydown.enter)="fetchLocations()" id="search-bar"></ion-searchbar>
  
  <div class="filter-sort">
    <ion-button color="medium" expand="block" (click)="filtering()" class="fliter">FILTER</ion-button>
    <ion-button color="medium" expand="block" (click)="sorting()" class="sort">SORT</ion-button>
  </div>
    
</ion-header>
    
<ion-content>

  <ion-card *ngFor="let item of locationData | orderBy: orderHeader: isDescOrder" color="light">

    <ion-card-content color="light">
    
      <ion-item lines="none" color="light">
        <ion-label>
          <ion-card-subtitle class="subtitle">{{item.types[0]}}</ion-card-subtitle>
          <ion-card-title class="title">{{item.name}}</ion-card-title>
        </ion-label>
      </ion-item>

      <ion-item lines="none" color="light">

        <ion-thumbnail>
          <ion-img [src]="item.src"></ion-img>
        </ion-thumbnail>
        
        <ion-label>
          
          <p><strong>ADDRESS: </strong> {{item.vicinity}}</p>
          <p><strong>RATING: </strong>{{item.rating}}/5</p>
          <p><strong>PRICE: $</strong>$$</p>
          <p><span style="color:red; font-weight: bold">LIVE: </span>Not so busy</p>
        </ion-label>
            
      </ion-item>
    
    </ion-card-content>
  </ion-card>
</ion-content>
 