<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Jio
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-refresher on-refresh="doRefresh()"></ion-refresher>
<ion-list>
  <ion-item class="item-avatar" ng-repeat="item in items">
    <img src="{{item.user.picture.thumbnail}} " />
    ## {{item.user.name.first}} {{item.user.name.last}}
    <p>{{item.user.location.city}} {{item.user.password}}</p>
  </ion-item>
</ion-list> -->

<ion-content [fullscreen]="true">

<!-- 
<ion-card class = 'jio' (click)="nextpage()" color = 'medium'>
  <ion-grid>
   <ion-row>
    <ion-col>
      <img src="https://static.vecteezy.com/system/resources/thumbnails/000/599/173/small/coffee.jpg">
    </ion-col>
  <ion-col> 
  <ion-card-content color="light">
    <p>Message</p>
  </ion-card-content>
  </ion-col>
   </ion-row>
   <ion-card-content>
    <p><strong>Address: </strong> {{item.vicinity}}</p>
    <p><strong>Rating: </strong>{{item.rating}}/5</p>
    <p><strong>Price: $</strong>$$</p>
    <p><strong>Work Level: </strong></p>
    <p><span style="color:red; font-weight: bold">Live: </span>Not so busy</p>
  </ion-card-content>
  </ion-grid>
</ion-card> -->



    <ion-card class = 'jio' (click)="viewJio(card)" color = 'medium' *ngFor = 'let card of jioList'>
      <ion-grid>
       <ion-row>
        <!-- <ion-col>
          <img src="{{card.picture}}">
        </ion-col> -->
      <ion-col> 
      <ion-card-title>
        <h2>{{card.header}}</h2>
      </ion-card-title>
      </ion-col>
       </ion-row>
       <ion-card-content>
        <p1>Location: {{card.jioLocation}}</p1>
        <br>
        <p1>Date: {{card.jio_date_time}} </p1>
        <br>
        <p1>Duration: {{card.jio_duration}}</p1>
        <br>
        <p1>Description: {{card.jio_description}}</p1>
      </ion-card-content>
      </ion-grid>
    </ion-card>
	</ion-content>
	
	
	