<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Jio
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button fill="outline" size="small">
    Filters
  </ion-button>
  <ion-button fill="outline" size="small">
    Sort
  </ion-button>

<ion-card class = 'jio' (click)="nextpage()" color = 'medium'>
  <ion-grid>
   <ion-row>
    <ion-col>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-col>
  <ion-col> 
  <ion-card-content>
    <p>Seeking to study from 2-4pm. 
      Friendly BCG Student!</p>
  </ion-card-content>
  </ion-col>
   </ion-row>
   <ion-card-content>
    <p1>Starbucks 300m $$$ Live: A little so busy</p1>
  </ion-card-content>
  </ion-grid>
</ion-card>



    <!-- <ion-card class = 'jio' color = 'medium' *ngFor = 'let card of cards'>
      <ion-grid>
       <ion-row>
        <ion-col>
          <img src="{{card.picture}}">
        </ion-col>
      <ion-col> 
      <ion-card-content>
        <p>{{card.message}}</p>
      </ion-card-content>
      </ion-col>
       </ion-row>
       <ion-card-content>
        <p1>{{card.location}} {{card.distance}} {{card.cost}} {{card.crowdesness}}</p1>
      </ion-card-content>
      </ion-grid>
    </ion-card> -->
	
	
	
	