<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Jio
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="filter-sort">
    <ion-button expand="block" (click)="filtering()" class="fliter">FILTER</ion-button>
    <ion-button expand="block" (click)="sorting()" class="sort">SORT</ion-button>
  </div>
  
</ion-header>

<!-- <ion-refresher on-refresh="doRefresh()"></ion-refresher>
<ion-list>
  <ion-item class="item-avatar" ng-repeat="item in items">
    <img src="{{item.user.picture.thumbnail}} " />
    ## {{item.user.name.first}} {{item.user.name.last}}
    <p>{{item.user.location.city}} {{item.user.password}}</p>
  </ion-item>
</ion-list> -->

<ion-content [fullscreen]="true">

<!-- 
<ion-card class = 'jio' (click)="nextpage()" color = 'medium'>
  <ion-grid>
   <ion-row>
    <ion-col>
      <img src="https://static.vecteezy.com/system/resources/thumbnails/000/599/173/small/coffee.jpg">
    </ion-col>
  <ion-col> 
  <ion-card-content color="light">
    <p>Message</p>
  </ion-card-content>
  </ion-col>
   </ion-row>
   <ion-card-content>
    <p><strong>Address: </strong> {{item.vicinity}}</p>
    <p><strong>Rating: </strong>{{item.rating}}/5</p>
    <p><strong>Price: $</strong>$$</p>
    <p><strong>Work Level: </strong></p>
    <p><span style="color:red; font-weight: bold">Live: </span>Not so busy</p>
    <ion-fab vertical = "bottom" horizontal = "end" slot = "fixed">
      <ion-fab-button color = "success" (click) = "createJio()" >
        <ion-icon name = "add"></ion-icon>
      </ion-fab-button>
  
  <ion-fab vertical = "bottom" horizontal = "end" slot = "fixed">
      <ion-fab-button color = "success" (click) = "createJio()" >
        <ion-icon name = "add"></ion-icon>
      </ion-fab-button>
  </ion-card-content>
  </ion-grid>
</ion-card> -->



    <!-- <ion-card class = 'jio' (click)="viewJio(card)" color = 'medium' *ngFor = 'let card of jioList'>
      <ion-grid>
       <ion-row>
      <ion-col> 
      <ion-card-title>
        <h2>{{card.header}}</h2>
      </ion-card-title>
      </ion-col>
       </ion-row>
       <ion-card-content>
        <p1>Location: {{card.jioLocation}}</p1>
        <br>
        <p1>Date: {{card.jio_date_time}} </p1>
        <br>
        <p1>Duration: {{card.jio_duration}}</p1>
        <br>
        <p1>Description: {{card.jio_description}}</p1>
      </ion-card-content>
      </ion-grid>
    </ion-card> -->

    <ion-card *ngFor = 'let card of jioList' color = 'light' (click) = 'viewJio(card)'>
      <ion-card-content color = 'light'>
        <ion-item lines = 'none' color = 'light' class = 'p1'>
          <ion-label class = 'titles'>
            <ion-card-title class = 'title'>
              {{card.header}}
            </ion-card-title>
            <ion-card-subtitle class = 'subtitle'>
              {{card.jio_description}}
            </ion-card-subtitle>
          </ion-label>
        </ion-item>
        <ion-item lines = 'none' color = 'light' class = 'p2'>
          <ion-label class = 'p-items'>
            <p class = 'p-item'>
              <strong>
                LOCATION: 
              </strong>
              {{card.jioLocation}}
            </p>
            <p class = 'p-item'>
              <strong>
                DATE & TIME: 
              </strong>
              {{card.jio_date_time}}
            </p>
            <p class = 'p-item'> 
              <strong>
                DURATION:
              </strong>
              {{card.jio_duration}}
            </p>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>


    

    <ion-fab vertical = "bottom" horizontal = "end" slot = "fixed">
      <ion-fab-button color = "success" (click) = "createJio()" >
        <ion-icon name = "add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
	</ion-content>
	
	
	