	
	// ion-toolbar{
//     --background: transparent;
//     --ion-color-base: transparent !important;
//     --border-color: transparent;
//     }  

.jio p {
    font-weight: bold;
}

.jio p1 {
    font-weight: bold;
    white-space: pre-wrap;
}
