<ion-content (click)="closeModal()">
  <ion-grid>
    <ion-row>
      <ion-col (click)="selectPhoto('https://lh3.googleusercontent.com/Czn9y9yAUpvuI6SGoVSnNe29_kZ84Ey_9saCrdpA7a5j2_8IWlUFSBM3_GMkjBPmbG8AS1jWtrzgQG4nCsyAlR_VtEI0fXMeKD8ILA=w357')">
        <img src = "https://lh3.googleusercontent.com/Czn9y9yAUpvuI6SGoVSnNe29_kZ84Ey_9saCrdpA7a5j2_8IWlUFSBM3_GMkjBPmbG8AS1jWtrzgQG4nCsyAlR_VtEI0fXMeKD8ILA=w357">
      </ion-col>
      <ion-col (click)="selectPhoto('https://lh3.googleusercontent.com/jY3UkYH6v9OvQmTs7Fgv06DXB7IxEE1OO898p9XbB5cUlTAIML2QeUCFMOZajf-kWbtyXMM4rFKYAJoKHfShPSJPl9T7qenORAq9=w600')">
        <img src = "https://lh3.googleusercontent.com/jY3UkYH6v9OvQmTs7Fgv06DXB7IxEE1OO898p9XbB5cUlTAIML2QeUCFMOZajf-kWbtyXMM4rFKYAJoKHfShPSJPl9T7qenORAq9=w600">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col (click)="selectPhoto('https://lh3.googleusercontent.com/ULjfyo4LJhtV3J9K7lu1xh0YZQBa6WHPp-cwlV2C9sUIyTpgSlv554mh_97fRXsziOIu9xwpukl5NQoDbkE3mlXlWR8zU7qcWQsxVg=w357')">
        <img src = "https://lh3.googleusercontent.com/ULjfyo4LJhtV3J9K7lu1xh0YZQBa6WHPp-cwlV2C9sUIyTpgSlv554mh_97fRXsziOIu9xwpukl5NQoDbkE3mlXlWR8zU7qcWQsxVg=w357">
      </ion-col>
      <ion-col (click)="selectPhoto('https://lh3.googleusercontent.com/POesFfbLX3KLQVs6ezfRM8AlQzZLlF9rvmdR5FURUt5IsBCwpw_LN6lqoeUrIoVI5dVDjpviUdDgLsmz7oOph7vB3pxpX1aJytLI=w357')">
        <img src = "https://lh3.googleusercontent.com/POesFfbLX3KLQVs6ezfRM8AlQzZLlF9rvmdR5FURUt5IsBCwpw_LN6lqoeUrIoVI5dVDjpviUdDgLsmz7oOph7vB3pxpX1aJytLI=w357">
      </ion-col>
    </ion-row>    
    <ion-row>
      <ion-col (click)="selectPhoto('https://lh3.googleusercontent.com/u-2FnHbaJ3U_KCDlmg2McX9Yfo7brsAzOffqihNXCGkHljA89SPPzwdjQiVSWcsvxCoj_ydBcDNCuZvHEekaYekaMEH4XX32k9US=w357')">
        <img src = "https://lh3.googleusercontent.com/u-2FnHbaJ3U_KCDlmg2McX9Yfo7brsAzOffqihNXCGkHljA89SPPzwdjQiVSWcsvxCoj_ydBcDNCuZvHEekaYekaMEH4XX32k9US=w357">
      </ion-col>
      <ion-col (click)="selectPhoto('https://lh3.googleusercontent.com/Q4uXff5hD6T91FlaDiqZTpMu-kEgwx6IcUHXsWF_Moq5u6VOvfqKuIXN2_StL78LNiA1YW3e16vnrLq_zqvfOMtK7PLy9AcKGxWr=w357')">
        <img src = "https://lh3.googleusercontent.com/Q4uXff5hD6T91FlaDiqZTpMu-kEgwx6IcUHXsWF_Moq5u6VOvfqKuIXN2_StL78LNiA1YW3e16vnrLq_zqvfOMtK7PLy9AcKGxWr=w357">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col (click)="selectPhoto('https://lh3.googleusercontent.com/ULjfyo4LJhtV3J9K7lu1xh0YZQBa6WHPp-cwlV2C9sUIyTpgSlv554mh_97fRXsziOIu9xwpukl5NQoDbkE3mlXlWR8zU7qcWQsxVg=w357')">
        <img src = "https://lh3.googleusercontent.com/ULjfyo4LJhtV3J9K7lu1xh0YZQBa6WHPp-cwlV2C9sUIyTpgSlv554mh_97fRXsziOIu9xwpukl5NQoDbkE3mlXlWR8zU7qcWQsxVg=w357">
      </ion-col>
      <ion-col (click)="selectPhoto('https://lh3.googleusercontent.com/4INjNruxtn0e_ij-wVm3w0fzhcC3tqwi62xo2ldxr0vlDcsDx42f5Q-f_nC_qIHgzrSxYtcp8VH7XwOP6lARc9wSrB5UI59hAuOSWg=w357')">
        <img src = "https://lh3.googleusercontent.com/4INjNruxtn0e_ij-wVm3w0fzhcC3tqwi62xo2ldxr0vlDcsDx42f5Q-f_nC_qIHgzrSxYtcp8VH7XwOP6lARc9wSrB5UI59hAuOSWg=w357">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col (click)="selectPhoto('https://lh3.googleusercontent.com/Uaaf5rXrUhV7nztyD0wuGzGXbPtSu0iocz4Y76Qcr0Z5FQF6VMBV2MyfLyYOFCf-7dtOGjjpMVNA4mPByTn7q2-fovpWtATTGRRL=w357')">
        <img src = "https://lh3.googleusercontent.com/Uaaf5rXrUhV7nztyD0wuGzGXbPtSu0iocz4Y76Qcr0Z5FQF6VMBV2MyfLyYOFCf-7dtOGjjpMVNA4mPByTn7q2-fovpWtATTGRRL=w357">
      </ion-col>
      <ion-col (click)="selectPhoto('https://lh3.googleusercontent.com/p2VWbRroqahbC79YQ2dYm2haSRNwRxcn4dQFDJhdpVrwZHgUkOWuIg05kYcNLtqIp_7zU18-OIscFnJABtk0HIaHEoLRfSxR0d3xWA=w357')">
        <img src = "https://lh3.googleusercontent.com/p2VWbRroqahbC79YQ2dYm2haSRNwRxcn4dQFDJhdpVrwZHgUkOWuIg05kYcNLtqIp_7zU18-OIscFnJABtk0HIaHEoLRfSxR0d3xWA=w357">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- <ion-footer class="container">
  <ion-grid class="ion-padding-top">
    <ion-row>
      <ion-col size="3" class="ion-text-center">
        <div class="removePhoto">
          <ion-icon name="trash" class="icon"></ion-icon>
        </div>
        <p>
          Remove
        </p>
      </ion-col>
      <ion-col size="3" class="ion-text-center" (click)="startCapture('Photos')">
       <div class="galleryPhoto">
          <ion-icon name="images" class="icon"></ion-icon>
       </div>
       <p>
         Gallery
       </p>
     </ion-col>
     <ion-col size="3" class="ion-text-center"   (click)="startCapture('Camera')">
       <div class="cameraPhoto">
         <ion-icon name="camera" class="icon"></ion-icon>
       </div>
       <p>
         Camera
       </p>
     </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer> -->