.avatar {
    padding-top: 20px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
 }
 
 .circle-pic{
     width:120px;
     height:120px;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     margin-left: auto;
     margin-right: auto;
 }
 