.login-logo {
    min-height: 200px;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
    border-bottom: 10px;
}

ion-card {
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
 }

 ion-item{
     margin-bottom:30px;
 }