
<ion-content>

  <ion-fab vertical = "top" horizontal = "start">
    <ion-fab-button color = "clear" routerLink = '/login'>
      <ion-icon name = "arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class = "login-logo">
    <img src = "assets/img/StudyJioLogo.png">
  </div>
  <ion-card color = "clear">
    <ion-card-header>
      <ion-card-title>Details</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position = "floating">Email</ion-label>
        <ion-input type = "email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position = "floating">Password</ion-label>
        <ion-input type = "password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position = "floating">Confirm Password</ion-label>
        <ion-input type = "password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position = "floating">User Name</ion-label>
        <ion-input type = "text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position = "floating">Bio</ion-label>
        <ion-input type = "text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position = "floating">Telegram Handle</ion-label>
        <ion-input type = "Telegram"></ion-input>
      </ion-item>
    </ion-card-content>


  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Education Level</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-radio-group>
        <ion-item>
          <ion-label>Primary</ion-label>
          <ion-radio value="Primary"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Secondary</ion-label>
          <ion-radio value="Secondary"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Pre-Tertiary</ion-label>
          <ion-radio value="Pre_Tertiary"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Polytechnic</ion-label>
          <ion-radio value="Polytechnic"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>University</ion-label>
          <ion-radio value="University"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>

  <ion-button size = full (click)="register()">Register</ion-button>


</ion-content>
