ion-content{// to set background color
    --background: rgb(255, 255, 255);
}

ion-button{
    margin: 10px;
}

.login-logo {
    min-height: 200px;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
    border-bottom: 20px;
}

ion-card {
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
 }

ion-input[type=email]{
    text-transform: lowercase;
}

.container {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }
  .profile-pic {
    width: 150px;
    height: 150px;
  }
  .outer {
    width: 100% !important;
    height: 100% !important;
    max-width: 150px !important; /* any size */
    max-height: 150px !important; /* any size */
    margin: auto;
    border-radius: 100%;
    position: relative;
    background-size: 150px 150px;
  }
  .inner {
    background-color: #1859cb;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .camera-icon {
    height: 30px;
    width: 30px;
    color: white;
  }